*/node_modules/
*.log

server/.env
server/ormconfig.json

mobile/.expo/
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/

# macOS
*/.DS_Store


